


body{
    background-color: #ff99c8;
    align-items: center;
    justify-content: center;
}

.To-Do-Container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add{
    background-color: lightgreen;
}

.Delete{
    background-color: rgb(238, 65, 65);
}

.add:hover{
    background-color: green;
}

.Delete:hover{
    background-color: rgb(157, 0, 0);
}

.text{
    flex: 1;

}

.Move-up{
    background-color: rgb(104, 63, 142);
}

.Move-down{
    background-color: rgb(104, 63, 142);
}


input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: beige;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

text{
    flex: 1;
}

.Delete, .Move-down, .Move-up{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px ;
}



